<div style="text-align:center">
    <ul class="topnav">
        <li>
            <img src="favicon.ico" height="32" style="vertical-align:middle" />
            <span style="color:indigo; font-weight:800">&nbsp;&nbsp;&Xi;SC&Lambda;L&Lambda;D&Lambda;&nbsp;</span>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="locations">
                <span class="oi oi-plus" aria-hidden="true"></span> Locations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="climbers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Climbers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>
