<div style="text-align:center">
    <ul class="topnav">
        <li>
            <img src="favicon.ico" height="32" style="vertical-align:middle" />
            <span style="color:indigo; font-weight:800">&nbsp;&nbsp;&Xi;SC&Lambda;L&Lambda;D&Lambda;&nbsp;</span>
        </li>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="locations">
                <span aria-hidden="true"></span> Locations
            </NavLink>
        </li>
        <li>
            <NavLink href="climbers">
                <span aria-hidden="true"></span> Climbers
            </NavLink>
        </li>
        <li>
            <NavLink href="about">
                <span aria-hidden="true"></span> About
            </NavLink>
        </li>
        @*<li>
            <NavLink href="login">
                <span aria-hidden="true"></span> Login
            </NavLink>
        </li>*@
    </ul>
</div>
